body{
	margin: 0;
	font-family: 'Arial',sans-serif;
}
.container{
	position: relative;
	height: 100%;
	width: 100%;
}
.header-layout{
	background-color: rgba(21, 167, 226, 0.7);
	height: 100%;
}
.footer-down{
	width: 100%;
	float: left;
	padding-top: 32px;
}
footer{
  min-height: 255px;
}
.hidden{
    display: none;
}

/* Entrepreneurs page text*/
#entrepreneurs-text{
	width: 58%;
    margin:0 auto; 
    padding-top: 50px;
    color: #363636;
    font-size: 18px;
    padding-bottom: 50px;
}
.comments-entrepreneurs{
	width: 90%;
	margin: 0 auto;
	padding-top: 50px;
	border-top: 2px solid #DDD;
}
#text-detail{
	font-size: 21px;
    color: #363636;
    margin:0 auto;
    width: 66%;
    text-align: center;
    font-weight: 600;
}
#text-info{
	text-align: center;
	color: #666;
	padding-bottom: 42px;
}

/*#Hack page*/
.thumbnail-hack{
	width: 100%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 50px;
}
.hack-categories{
	width: 100%;
	display: inline-block;
	padding-top: 20px;
}
.img-hack-right{
	width: 52.5%;
    float: left;
}
.hack-right{
	width: 40%;
    float: right;
}
.hack-left{
	width: 40%;
    float: left;
    padding-left: 45px;
}
.img-hack-left{
	width: 52.5%;
    float: right;
}

/*Home page*/
#uppercase-text{
	text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #A9C0E2;
    font-weight: 700;
    margin-top: 140px;
    height: 0px;
}
.home-container{
    width: 100%;
    min-height: 1000px;
    position: relative;
}
.home-research{
    width: 100%;
    background: #DF9B1E;
    height: auto;
    min-height: 580px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.home-img-left{
    width: 40%;
    float: left;
    padding-left: 70px;
    padding-top: 50px;
    transform: skew(-7deg) rotate(-7deg);
}

.home-logo-right{
    width: 45%;
    float: left;
    padding-top: 100px;
    padding-left: 50px;
    text-align: center;
}
.img-horizontally{
    width: 70%;
    float: left;
}
.img-vertical{
    width: 24%;
    float: right;
    padding-top: 100px;
}
#i-horz{
    padding-bottom: 25px;
    float: right;
}
#research-title{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
#research-text{
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 70%;
    padding-left: 100px; 
    line-height: 1.5;
}
.home-feedback{
    width: 100%;
    background: #3E73C3;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    min-height: 580px;
}
.home-management{
    width: 100%;
    background: #45B376;
    height: auto;
    padding-bottom: 50px;
    padding-top: 100px;
    min-height: 660px;
}
.home-img-mng{
    width: 48%;
    float: right;
    margin-right: 10px;
    transform: skew(-7deg) rotate(-7deg);
}
.img-hor1{
    width: 100%;
    padding-bottom: 22px;
}
#i-hor1{
    padding-right: 18px;
}
.img-hor2{
    width: 66%;
    float: right;
}
.img-hor3{
    width: 36%;
    float: right;
    padding-top: 20px;
}

.our-skills-home{
	width: 90%;
    margin: auto;
    /* border-top: 2px solid #DCDCDC; */
    min-height: 580px;
    padding-top: 40px;
}
.details-home{
	width: 33%;
    float: left;
}
#img-detail-home{
	border-style: none;
    vertical-align: middle;
}
.event-img{
  cursor: pointer;
}
#bubble{
  border-radius: 100px;
}

/* Our projects page*/
.container-projects{
 width: 90%;
 margin:0 auto;
 height: 100%;

}
.thumbnail-project-home{
width:100%;
min-height: 600px;
}

/*Tech page*/
.main-tech{
	width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    min-height: 200px;
    background-color: #EEE;
    padding-bottom: 80px;
}
 .tech-on-facebook{
    width: 100%;
    margin: 0 auto;
    text-align: center;
 }
 #text-on-facebook{
	font-size: 18px;
    padding-right: 20px;
    color: #373737;
 }
 /*Menu page*/
 .menu-container {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}

.menu-overlay {
    width: 58%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    float: left;
}

.side-menu {
    width: 42%;
    height: 100%;
    background-color: black;
    float: right;
}

.menu-header {
  padding: 0px 0px 0px 20px;
}

.menu {
  padding-left: 50px;
  padding-top: 20px;

}

.menu-social {
  padding-left: 50px;
}

.menu-item {
  font-size: 20px;
  color: white;
  line-height: 2;
  padding-left: 25px;
  width: 200px;
  height: 40px;

}
.menu-item a {
    color:white;
    text-decoration: none;

}

.active {
    color: white;
    text-decoration: none;
    background-color: #565353;

}

.menu-item a:hover {
    color: white;
    text-decoration: none;
    background-color: #565353;
     width: 200px;
   height: 40px;

}

.grayed {
  color: gray;
}
.nav-right{
    width: 25%;
    float: right;
    display: inline;
}
.fa{
    color: #FFF;
    font-size: 40px;
    margin-top: 65px;
    cursor: pointer;
 }
#menu-title{
	color: white;
  font-size: 17px;
  padding-left: 15px;
  vertical-align: super;
  cursor: pointer;
}
