.btn-contact ,.btn-read-more{
	text-transform: uppercase;
}
.btn-contact, .btn-fb ,.btn-our-project, .btn-read-more,.btn-tech {
	border-radius: 4px;
	width:auto;
	height: auto;
	font-weight:700;
}

.btn-contact{
	color:#363A9B;
	background: #FFF;
	font-size: 16px;
	padding:19px 55px;
	margin: 20px 0 44px 552px;
}
.btn-fb{
	color:#EBECF3;
	background: #4E20AD;
	font-size:16px;
	padding:11px 17px;
	
}
.btn-our-project{
	color:#FFF;
	background: #3549A0;
	font-size:15.5px;
	padding:11px 28px;

}
.btn-tech{
	color:#767676;
	background: #FFF;
	font-size: 15px;
	padding:11px 25px;
}
.btn-read-more{
	color:#FFF7F3;
	background:#F36700 ;
	font-size: 15px;
	padding:13px 31px;
	float:left;
	margin-top: 20px;
	border-radius: 6px;
}
.btn-work-together{
	border-radius: 20px;
	background: rgba(9, 158, 218, 0.11);
	color:#FFF;
	padding: 11px 17px;
	border:1px solid #FFF;
	font-size: 15px;
	float: right;
    margin-right: 68px;
    margin-top: 64px;
}