.hero-title{
	font-size: 61px;
	color: #FFF;
	margin-top: 123px;
	font-weight: 700;
	height: 17px;
}
.hero-title-uppercase{
	font-size: 61px;
    color: #FFF;
    margin-top: 33px;
    font-weight: 700;
    height: 17px;