.work-together{
	
	background-color: #3745A1;
}
#title-work{
	font-size: 34px;
	text-align: center;
	color: #FFF;
	padding-top: 34px;
	font-weight: 500;
    height: 14px;
}
#subtitle-work{
	font-size: 20px;
	text-align: center;
	color: #A8B2D4;
	height: 8px;
}